@import '../../styles/variables.scss';

.btn {
  background-color: $main-color;
  color: $text-color;
  padding: 0.5em 1em;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  font-size: 1.05em;

  &:hover {
    background-color: $hover-color;
    color: $bg-light-color;
  }

  &:active {
    transition: 0.15s;
    background-color: $active-color;
    box-shadow: 0 0 2px 2px $active-color;
  }
}
