@import '../../../styles/variables.scss';

.friendItem {
  background-color: white;
  margin-bottom: 1em;
  width: 50vw;
  height: 180px;
  max-width: 750px;
  align-items: flex-start;
  padding: 1em 2em;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px $bg-dark-color;
  transition: 0.2s;
  justify-content: space-between;
  min-height: 180px;

  &:hover {
    box-shadow: 0 0 20px 2px $bg-dark-color;
  }
}

.friendsItem__data {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5%;
  cursor: pointer;
}

.friendItem__imgWrapper {
  max-width: 150px;
  max-height: 150px;
}

.friendItem__img {
  max-width: 150px;
  max-height: 150px;
}

.friendsItem__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5em;
}

.friendsItem__btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;

}

.friends__btn {
  width: 100%;
}

.friends__btn_remove {
  min-width: 180px;
  background-color: $bg-light-color;
  box-shadow: inset 0 0 0 2px $main-color;
  box-sizing: border-box;

  &:hover {
    background-color: $bg-dark-color;
    color: black;
  }
}
