$text-color: #272424;
$bg-light-color: #F1F3F2;
$bg-dark-color: #C2D3Da;
$main-color: #81A3A7;
$disable-color: #83867d;
$error-color: #ff6347;
$hover-color: #5C868D;
$active-color: #118C8B;
$like-color: #F46A4E;

%element {
  content: '';
  position: absolute;
}

%scrollbar {
  width: 0.25em;
  background-color: $bg-dark-color;
  border-radius: 10px;
}

%scrollthumb {
  width: 0.25em;
  background-color: $main-color;
  border-radius: 10px;
}

%error-hidden {
  visibility: hidden;
  margin-top: 0;
  opacity: 0;
  transition: 0.3s;
}

%error-visible {
  visibility: visible;
  margin-top: 1em;
  opacity: 1;
  transition: 0.3s;
}
